@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'existencelight';
  src: url('../fonts/existence/existence-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}