$smartphone-width: 767px;

$tablet-width: 1024px;

$tablet-portrait-width: 980px;

$ipad-width: 768px;

$lowres-width: 980px;

@mixin lower {
  @media (max-width: #{$lowres-width}){
    @content;
  }
}

@mixin smartphone {
  @media screen and (max-width: #{$smartphone-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: #{$smartphone-width}) and (max-width: #{$tablet-portrait-width})and(orientation: portrait) {
    @content;
  }
}


@mixin tablet {
  @media screen and (max-width: #{$tablet-width})and(orientation: landscape) {
    @content;
  }
}

@mixin ipad {
  @media screen and (max-height: #{$ipad-width})and(orientation: landscape) {
    @content;
  }
}
