html{
  font-size: 16px;
  font-family: latoregular, sans-serif;
  @include smartphone {
    font-size: 10px;
  }
  @include tablet {
    font-size: 12px;
  }
  @include tablet-portrait {
    font-size: 12px;
  }
  @include lower {
    font-size: 14px;
  }
}

.company-page {
  padding: 0;
  width: 100%;
  font-size: 1.4rem;
}

.clear {
  clear: both;
}

.container-content {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  @include smartphone {
    width: 90%;
  }
  @include tablet {
    width: 80%;
  }
  @include tablet-portrait {
    width: 90%;
  }
}

/*home page*/

.home-content {
  position: relative;
  width: 60%;
}

.introduction {
  background-image: url("../images/mainBackground.png");
  background-size: contain;
  width: 100%;
  padding-bottom: 59%;
  height: 0;
  background-repeat: no-repeat;
  @include smartphone {
    min-height: 640px;
    width: auto;
    background-size: cover;
    box-sizing: border-box;
  }
  @include tablet-portrait {
    min-height: 980px;
    box-sizing: border-box;
    width: auto;
    background-size: cover;
  }
  @include ipad{
    min-height: 768px;
    box-sizing: border-box;
    width: auto;
    background-size: auto;
    overflow: hidden;
  }
}

.arrow-down {
  position: absolute;
  left: 45%;
  top: 75%;
  width: 10%;
  height: auto;
  @include smartphone {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include tablet-portrait {
    display: none;
  }
}

//dla Firefoxa do mixinu: background-size:cover; padding-bottom: 0; i ¿adnej wysokoœci

.introduction-text{
  padding: 10% 0;
  text-align: center;
  vertical-align: middle;
  font-family: existencelight, sans-serif;
  @include smartphone {
    padding-top: 20rem;
    box-sizing: border-box;
  }
  @include tablet-portrait {
    padding-top: 20rem;
    box-sizing: border-box;
  }
  @include ipad{
    padding-top: 20rem;
    box-sizing: border-box;
  }
  h1 {
    font-size: 5rem;
    color: white;
    margin: 0 0 7% 0;
    span {
      color: map_get($colors, violetDefault);
      font-size: inherit;
    }
  }
  h2 {
    font-size: 2.6rem;
    color: white;
    margin: 3%;
  }
  p {
    color: white;
  }
}

.introduction-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 34rem;
  color: white;
  @include smartphone {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include tablet-portrait {
    display: none;
  }
  @include lower {
    height: 20rem;
  }
}

svg {
  height: 10rem;
  width: 10rem;
  @include tablet {
    height: 8rem;
    width: 8rem;
  }
  @include lower {
    height: 6rem;
    width: 6rem;
  }
}

.cls-1, .cls-2, .cls-4 {
  fill: #fff;
}

.cls-1 {
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 0.1;
}

.cls-1:hover,
.cls-2:hover {
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-opacity: 1;
  fill: #9f449b;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-3, .cls-4 {
  font-size: 18px;
}

.cls-4 {
  text-anchor: middle;
  font-family: latoregular, sans-serif;
}

.introduction-icons-flex:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  position: relative;
  span{
    position: absolute;
    top: 2em;
  }
}

.introduction-icons-flex:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.introduction-icons-flex:nth-child(3) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.introduction-icons-flex:nth-child(4) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.introduction-icons-flex:nth-child(5) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.introduction-icons-flex:nth-child(6) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}


/*sticky menu*/

.sticky-nav {
  width: 100%;
  height: 7rem;
  background-color: white;
  @include smartphone {
    display: none;
  }
}

.nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  padding: 2.5rem 0;
  &:first-child {
    order: 0;
    flex: 15 1 auto;
    align-self: flex-start;
  }
  &:not(first-child) {
    order: 0;
    flex: 1 1 auto;
    align-self: flex-end;
    }
  }

.nav-item {
  text-transform: uppercase;
  color: map_get($colors, grayDark);
  font-size: 1rem;
  a {
    text-decoration: none;
    color: map_get($colors, grayDark);
    &:hover {
      color: map_get($colors, violetDefault);
    }
  }
  @include lower {
    font-size: 0.7rem;
  }
}

.company-logo2 {
  font-family: existencelight, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: map_get($colors, grayDark);
  width: 35%;
  span {
    color: map_get($colors, violetDefault);
  }
}

/*for js*/

.sticky{
  position: fixed;
  top: 0;
  z-index: 99999999;
}

.active a {
  color: map_get($colors, violetDefault);
}


//Option with float//

//nav {
//  background: white;
//  width: 100%;
//  height: 1rem;
//  box-sizing: border-box;
//  display: block;
//}
//
//.nav-content {
//  text-align: end;
//  li {
//  display: inline-block;
//  text-align: end;
//  }
//}
//
//.nav-item {
//  float: right;
//  font-size: 0.5em;
//  margin-left: 1em;
//  text-transform: uppercase;
//  color: map_get($colors, greyDark);
//}
//
//.company-logo2 {
//  float: left;
//  font-family: existencelight, sans-serif;
//  color: map_get($colors, greyDark);
//  span{
//    color: map_get($colors, violetDefault);
//  }
//}


/*About Us*/

.about-us{
  width: 100%;
  height: auto;
  background-color: map_get($colors, grayBackground);
}

.about-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  @include smartphone {
    flex-wrap: wrap;
  }
  @include tablet {
    flex-wrap: wrap;
  }
  @include tablet-portrait {
    flex-wrap: wrap;
  }
}

.about-item-flex {
  width: 25%;
  align-self: flex-start;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
  box-sizing: border-box;
  font-family: latoregular, sans-serif;
  margin: 15rem 0;
  @include smartphone {
    width: 50%;
    margin: 2rem;
  }
  @include tablet {
    width: 50%;
    margin: 2rem;
  }
  @include tablet-portrait {
    width: 50%;
    margin: 2rem;
  }
  h2 {
    color: map_get($colors, grayDark);
    font-weight: lighter;
    margin: 2rem 0;
  }
  p {
    color: map_get($colors, grayDark);
    font-weight: lighter;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  object {
    width: 70%;
    height: 70%;
    @include smartphone {
      width: 30%;
      height: 30%;
    }
    @include tablet {
      width: 30%;
      height: 30%;
    }
    @include tablet-portrait {
      width: 30%;
      height: 30%;
    }
  }
}

.about-us-more{
  width: 100%;
  height: auto;
  background-color: white;
}

.section-title {
  height: auto;
  margin: 10% 0;
  h1{
    text-align: center;
    background-image: url("../images/aboutTitle.png");
    height: 7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    margin: 4rem;
    font-size: 2.6rem;
    font-family: existencelight, sans-serif;
    color: map_get($colors, grayDark);
    padding: 2rem;
    span {
      color: map_get($colors, violetDefault);
    }
  }
}

.about-more-flex {
  display: flex;
  flex-direction: row;
  @include smartphone {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  img{
    width: 60%;
    height: 60%;
    @include tablet {
      width: 40%;
      height: 40%;
    }
    @include tablet-portrait {
      width: 40%;
      height: 40%;
    }
  }
  .about-more-text {
    padding: 0 1rem;
    font-family: latoregular, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    @include tablet {
      width: 60%;
      margin: 2rem 0;
    }
    @include tablet-portrait {
      width: 60%;
      margin: 2rem 0;
    }
    @include smartphone {
      margin: 2rem 0;
    }
    p {
      font-size: 1rem;
      color: map_get($colors, grayDark);
      line-height: 1.8rem;
      margin-bottom: 1rem;
    }
  }
}

.click-button {
  width: 13rem;
  border: none;
  background-color: map_get($colors, violetDefault);
  font-size: 1.2rem;
  font-family: latoregular, sans-serif;
  height: 4rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1.1rem;
  box-sizing: border-box;
  box-shadow: inset 0px -15px 0px -5px map_get($colors, violetShadow);
  color: white;
  &:link {
    text-decoration: none;
    color: white;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
}

/*About divider*/

.about-divider{
  width: 100%;
  height: 30rem;
  background: url("../images/aboutBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  object{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  p{
    color: white;
    font-size: 2rem;
    text-align: center;
  }
}

/*Team*/

.team {
  width: 100%;
  height: auto;
  background-color: white;
}

.our-team {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.team-arrows{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  img {
    padding: 0.25rem;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 6rem;
    width: 3rem;
    height: 3rem;
    z-index: 1000;
  }
}

ul.team-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include smartphone {
    flex-direction: column;
  }
  @include tablet-portrait {
    flex-direction: column;
  }
  li {
    display: none;
    text-align: center;
    width: 33%;
    box-sizing: border-box;
    padding: 1rem;
    @include smartphone {
      width: 100%;
      display: block;
    }
    @include tablet {
      width: 100%;
      display: block;
    }
    @include tablet-portrait {
      width: 100%;
      display: block;
    }
  }
  h2 {
    text-transform: uppercase;
    padding-top: 3rem;
    color: map_get($colors, grayDark);
    font-size: 1.3rem;
  }
  h3 {
    padding: 2rem;
    color: map_get($colors, grayLight);
    font-size: 1rem;
  }
  img.person-photo {
    width: 70%;
    height: 70%;
    @include smartphone {
      width: 50%;
      height: 50%;
    }
    @include tablet {
      width: 30%;
      height: 30%;
    }
    @include tablet-portrait {
      width: 30%;
      height: 30%;
    }
  }
}

div.social-icons {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
    padding: 0.5rem;
    height: 15%;
    width: 15%;
    @include smartphone {
      width: 10%;
      height: 10%;
    }
    @include tablet {
      width: 10%;
      height: 10%;
    }
    @include tablet-portrait {
      width: 10%;
      height: 10%;
    }
  }
}

.skills-flex{
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 6rem;
  @include smartphone {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.skills-column {
  width: 20rem;
  &:first-child{
    margin-right: 10%;
    @include smartphone {
      margin-right: 0;
    }
  }
  &:last-child{
    margin-left: 10%;
    @include smartphone{
      margin-left: 0;
    }
  }
}

.bar {
  height: auto;
  width: 20rem;
  h2{
    text-transform: uppercase;
    padding: 2rem 0;
    color: black;
    font-size: 1.3rem;
    float: left;
  }
  p {
    font-size: 1.3rem;
    color: map_get($colors, grayDark);
    float: right;
    padding: 2rem 0;
  }
}

.web-design {
  .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 90%;
    background-color: map_get($colors, violetDefault);
  }
}

.html-css {
   .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 75%;
    background-color: map_get($colors, violetDefault);
  }
}

.graphic-design {
  .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 70%;
    background-color: map_get($colors, violetDefault);
  }
}

.ui-ux {
  .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 85%;
    background-color: map_get($colors, violetDefault);
  }
}

/*Services*/

.services {
  width: 100%;
  height: auto;
  padding: 10rem 0;
  background-color: map_get($colors, grayBackground);
}

.services-data-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.data-column {
  width: 25%;
  display: block;
  text-align: center;
  h2{
    color: black;
    font-size: 3rem;
    font-weight: lighter;
  }
  p {
    font-size: 1rem;
    color: map_get($colors, grayDark);
    padding: 1rem 2rem 0 2rem;
  }
}

.services-slider-box {
  margin-top: 4rem;
  object {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.services-slider {
  li{
    text-align: center;
    img.client-photo {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2rem;
      width: 20%;
      height: 20%;
      @include smartphone {
        width: 30%;
        height: 30%;
      }
      @include tablet {
        width: 30%;
        height: 30%;
      }
      @include tablet-portrait {
        width: 30%;
        height: 30%;
      }
    }
    p {
      &:first-of-type {
        color: map_get($colors, grayDark);
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: lighter;
        margin-bottom: 2rem;
      }
      &:last-of-type {
        color: map_get($colors, grayDark);
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: lighter;
        text-transform: uppercase;
      }
    }
  }
}

/*Portfolio*/

.portfolio-nav {
  margin-bottom: 4rem;
  text-align: center;
  li {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid black;
    height: 2rem;
    width: 4rem;
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.5rem 0;
    box-sizing: border-box;
    text-align: center;
    &:hover {
      background-color: map_get($colors, violetDefault);
      border: 1px solid map_get($colors, violetDefault);
      color: white;
    }
  }
}

.portfolio-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.portfolio-item {
  width: 33%;
  height: auto;
  text-align: center;
  @include smartphone {
    width: 50%;
  }
  @include tablet {
    width: 50%;
  }
  @include tablet-portrait {
    width: 50%;
  }
  h2 {
    color: black;
    font-size: 1rem;
    margin-top: 1rem;
  }
  p {
    color: map_get($colors, grayLight);
    font-size: 0.75rem;
    margin: 1rem;
  }
}

.image-item {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  @include smartphone {
    width: 12rem;
    height: 12rem;
  }
  @include tablet-portrait {
    width: 16rem;
    height: 16rem;
  }
  @include lower {
    width: 12rem;
    height: 12rem;
  }
}

.portfolio-less-button,
.portfolio-button {
  margin: 2rem;
}

img.hover-layer {
  display: none;
}

img.hover-enter {
  display: block;
  position: absolute;
  width: 18rem;
  height: 18rem;
  top: 0;
  left: 0;
  z-index: 10;
  @include smartphone {
    width: 12rem;
    height: 12rem;
  }
  @include tablet-portrait {
    width: 16rem;
    height: 16rem;
  }
  @include lower {
    width: 12rem;
    height: 12rem;
  }
}

/*Contact*/

.contact-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
  @include smartphone {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  @include tablet-portrait {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  p {
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1.4rem;
    &:nth-child(n+2) {
      font-weight: bold;
    }
  }
}

.contact-icons {
  li {
    display: inline-block;
    img {
      height: 3rem;
      width: auto;
      margin-left: 1rem;
    }
  }
}

.contact-column {
  width: 50%;
  display: block;
  text-align: start;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  @include smartphone {
    width: 80%;
  }
  @include tablet-portrait {
    width: 80%;
  }
  form {
    input {
      &:nth-child(-n+2) {
        height: 3rem;
        width: 95%;
        color: black;
        font-size: 1rem;
        font-family: latoregular, sans-serif;
        margin-bottom: 1rem;
        box-sizing: border-box;
        padding: 1rem;
      }
    }
    textarea {
      height: 9rem;
      width: 95%;
      color: black;
      font-size: 1rem;
      font-family: latoregular, sans-serif;
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 1rem;
    }
  }
}

.footer {
  text-align: center;
  margin-bottom: 20rem;
    p {
      font-size: 4rem;
      margin: 6rem 0;
      color: map_get($colors, grayDark);
      font-family: existencelight, sans-serif;
      span {
        color: map_get($colors, violetDefault);
      }
    }
  }













.no-display {
  display: none;
}
