html{
  font-size: 18px;
  //mixin dla Firefoxa i IE na 16px
  font-family: latoregular, sans-serif;
}

.company-page {
  padding: 0;
  width: 100%;
  font-size: 1.4rem;
}


.clear {
  clear: both;
}

.container-content {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*home page*/

.introduction {
  background-image: url("../images/mainBackground.png");
  background-size: contain;
  width: 100%;
  padding-bottom: 59%;
  height: 0;
  background-repeat: no-repeat;
}

//dla Firefoxa do mixinu: background-size:cover; padding-bottom: 0; i ¿adnej wysokoœci

.introduction-text{
  padding: 10% 0;
  text-align: center;
  vertical-align: middle;
  font-family: existencelight, sans-serif;
  h1 {
    font-size: 5rem;
    color: white;
    margin: 0 0 7% 0;
    span {
      color: map_get($colors, violetDefault);
      font-size: inherit;
    }
  }
  h2 {
    font-size: 2.6rem;
    color: white;
    margin: 3%;
  }
  p {
    color: white;
  }
}

.introduction-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 34rem;
  color: white;
}

object {
  height: 10rem;
  width: 10rem;
}

.introduction-icons-flex:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  position: relative;
  span{
    position: absolute;
    top: 2em;
  }
}

.introduction-icons-flex:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.introduction-icons-flex:nth-child(3) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.introduction-icons-flex:nth-child(4) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.introduction-icons-flex:nth-child(5) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.introduction-icons-flex:nth-child(6) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}


/*sticky menu*/

.sticky-nav {
  width: 100%;
  height: 7rem;
  background-color: white;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  padding: 2.5rem 0;
  &:first-child {
    order: 0;
    flex: 15 1 auto;
    align-self: flex-start;
  }
  &:not(first-child) {
    order: 0;
    flex: 1 1 auto;
    align-self: flex-end;
    //padding: 2% 0;
    }
  }

.nav-item {
  text-transform: uppercase;
  color: map_get($colors, grayDark);
  font-size: 1rem;
}

.company-logo2 {
  font-family: existencelight, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: map_get($colors, grayDark);
  width: 27rem;
  span {
    color: map_get($colors, violetDefault);
  }
}

/*for js*/

.sticky{
  position: fixed;
  top: 0;
}

.active {
  color: map_get($colors, violetDefault);
}


//Option with float//

//nav {
//  background: white;
//  width: 100%;
//  height: 1rem;
//  box-sizing: border-box;
//  display: block;
//}
//
//.nav-content {
//  text-align: end;
//  li {
//  display: inline-block;
//  text-align: end;
//  }
//}
//
//.nav-item {
//  float: right;
//  font-size: 0.5em;
//  margin-left: 1em;
//  text-transform: uppercase;
//  color: map_get($colors, greyDark);
//}
//
//.company-logo2 {
//  float: left;
//  font-family: existencelight, sans-serif;
//  color: map_get($colors, greyDark);
//  span{
//    color: map_get($colors, violetDefault);
//  }
//}


/*About Us*/

.about-us{
  width: 100%;
  height: auto;
  background-color: map_get($colors, grayBackground);
}

.about-flex {
  display: flex;
  flex-direction: row;
  height: 45rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.about-item-flex {
  order: 0;
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
  box-sizing: border-box;
  font-family: latoregular, sans-serif;
  h2 {
    color: map_get($colors, grayDark);
    font-weight: lighter;
    margin: 20% 0;
  }
  p {
    color: map_get($colors, grayDark);
    font-weight: lighter;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

.about-us-more{
  width: 100%;
  height: auto;
  background-color: white;
}

.section-title {
  height: auto;
  margin: 10% 0;
  h1{
    text-align: center;
    background-image: url("../images/aboutTitle.png");
    height: 7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    margin: 6rem;
    font-size: 2.6rem;
    font-family: existencelight, sans-serif;
    color: map_get($colors, grayDark);
    padding: 2rem;
    span {
      color: map_get($colors, violetDefault);
    }
  }
}

.about-more-flex {
  display: flex;
  flex-direction: row;
  img{
    width: 60%;
    height: auto;
  }
  .about-more-text {
    padding: 1rem;
    font-family: latoregular, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    p {
      font-size: 1rem;
      color: map_get($colors, grayDark);
      line-height: 1.8rem;
    }
  }
}

.click-button {
  width: 13rem;
  border: none;
  background-color: map_get($colors, violetDefault);
  font-size: 1.2rem;
  font-family: latoregular, sans-serif;
  height: 4rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1.1rem;
  box-sizing: border-box;
  box-shadow: inset 0px -15px 0px -5px map_get($colors, violetShadow);
  color: white;
  &:link {
    text-decoration: none;
    color: white;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
}

/*About divider*/

.about-divider{
  width: 100%;
  height: 30rem;
  background-color: blue;
  object{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  p{
    color: white;
    font-size: 2rem;
    text-align: center;
  }
}

/*Team*/

.team {
  width: 100%;
  height: auto;
  background-color: white;
}

.our-team {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.team-arrows{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  img {
    padding: 0.25rem;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 6rem;
  }
}

ul.team-slider {
  li {
    display: inline-block;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    margin: 1.4%;
  }
  h2 {
    text-transform: uppercase;
    padding-top: 3rem;
    color: map_get($colors, grayDark);
    font-size: 1.3rem;
  }
  h3 {
    padding: 2rem;
    color: map_get($colors, grayLight);
    font-size: 1rem;
  }
}

.social-icons {
  margin: 0 10%;
}

.skills-flex{
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 6rem;
}

.skills-column {
  width: 20rem;
  align-content: center;
  &:first-child{
    margin-right: 10%;
  }
  &:last-child{
    margin-left: 10%;
  }
}

.bar {
  height: auto;
  width: 20rem;
  h2{
    text-transform: uppercase;
    padding: 2rem 0;
    color: black;
    font-size: 1.3rem;
    float: left;
  }
  p {
    font-size: 1.3rem;
    color: map_get($colors, grayDark);
    float: right;
    padding: 2rem 0;
  }
}

.web-design {
  .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 90%;
    background-color: map_get($colors, violetDefault);
  }
}

.html-css {
   .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 75%;
    background-color: map_get($colors, violetDefault);
  }
}

.graphic-design {
  .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 70%;
    background-color: map_get($colors, violetDefault);
  }
}

.ui-ux {
  .outer {
    height: 1.5rem;
    width: 20rem;
    background-color: map_get($colors, grayLight);
  }

  .inner {
    height: 1.5rem;
    width: 85%;
    background-color: map_get($colors, violetDefault);
  }
}

/*Services*/

.services {
  width: 100%;
  height: auto;
  background-color: map_get($colors, grayBackground);
}

.services-data-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.data-column {
  width: 25%;
  display: block;
  padding-top: 6rem;
  text-align: center;
  h2{
    color: black;
    font-size: 3rem;
    font-weight: lighter;
  }
  p {
    font-size: 1rem;
    color: map_get($colors, grayDark);
    padding-top: 1rem;
  }
}

.services-slider-box {
  margin-top: 4rem;
  object {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.services-slider {
  li{
    text-align: center;
    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2rem;
    }
    p {
      &:first-of-type {
        color: map_get($colors, grayDark);
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: lighter;
        margin-bottom: 2rem;
      }
      &:last-of-type {
        color: map_get($colors, grayDark);
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: lighter;
        text-transform: uppercase;
      }
    }
  }
}

/*Contact*/

.contact-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.contact-column {
  width: 50%;
  display: block;
  text-align: start;
  form {
    input:not(last-of-type) {
      height: 3rem;
      width: 70%;
      color: black;
      font-size: 1rem;
      font-family: latoregular, sans-serif;
    }
  }
}
