$colors: (
        violetDefault: #9f449b,
        violetShadow: #6b2e68,
        grayDark: #676767,
        grayLight: #ccd0d2,
        grayBackground: #eeeeee,
);

$desktopWidth: "(min-width: 1024px)";
$smartphoneWidth: "(max-width: 768px)";
$tabletWidth: "(min-width: 769px)" and "(max-width: 1023px)";

