/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence/existence-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 18px;
  font-family: latoregular, sans-serif;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  html {
    font-size: 12px;
  }
}

.company-page {
  padding: 0;
  width: 100%;
  font-size: 1.4rem;
}

.clear {
  clear: both;
}

.container-content {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .container-content {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .container-content {
    width: 80%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .container-content {
    width: 90%;
  }
}

/*home page*/
.introduction {
  background-image: url("../images/mainBackground.png");
  background-size: contain;
  width: 100%;
  padding-bottom: 59%;
  height: 0;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .introduction {
    min-height: 640px;
    width: auto;
    background-size: cover;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .introduction {
    min-height: 980px;
    width: auto;
    background-size: cover;
  }
}

.introduction-text {
  padding: 10% 0;
  text-align: center;
  vertical-align: middle;
  font-family: existencelight, sans-serif;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .introduction-text {
    padding-top: 20rem;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .introduction-text {
    padding-top: 30rem;
    box-sizing: border-box;
  }
}
.introduction-text h1 {
  font-size: 5rem;
  color: white;
  margin: 0 0 7% 0;
}
.introduction-text h1 span {
  color: #9f449b;
  font-size: inherit;
}
.introduction-text h2 {
  font-size: 2.6rem;
  color: white;
  margin: 3%;
}
.introduction-text p {
  color: white;
}

.introduction-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 34rem;
  color: white;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .introduction-icons {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .introduction-icons {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .introduction-icons {
    height: 26rem;
  }
}

object {
  height: 10rem;
  width: 10rem;
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  object {
    height: 8rem;
    width: 8rem;
  }
}

.introduction-icons-flex:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  position: relative;
}
.introduction-icons-flex:nth-child(1) span {
  position: absolute;
  top: 2em;
}

.introduction-icons-flex:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.introduction-icons-flex:nth-child(3) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.introduction-icons-flex:nth-child(4) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-start;
}

.introduction-icons-flex:nth-child(5) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.introduction-icons-flex:nth-child(6) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

/*sticky menu*/
.sticky-nav {
  width: 100%;
  height: 7rem;
  background-color: white;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .sticky-nav {
    display: none;
  }
}

.nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  padding: 2.5rem 0;
}
.nav-flex:first-child {
  order: 0;
  flex: 15 1 auto;
  align-self: flex-start;
}
.nav-flex:not(first-child) {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-end;
}

.nav-item {
  text-transform: uppercase;
  color: #676767;
  font-size: 1rem;
}

.company-logo2 {
  font-family: existencelight, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #676767;
  width: 27rem;
}
.company-logo2 span {
  color: #9f449b;
}

/*for js*/
.sticky {
  position: fixed;
  top: 0;
}

.active {
  color: #9f449b;
}

/*About Us*/
.about-us {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
}

.about-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .about-flex {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about-flex {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .about-flex {
    flex-wrap: wrap;
  }
}

.about-item-flex {
  width: 25%;
  align-self: flex-start;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
  box-sizing: border-box;
  font-family: latoregular, sans-serif;
  margin: 10rem 0;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .about-item-flex {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about-item-flex {
    width: 50%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .about-item-flex {
    width: 50%;
  }
}
.about-item-flex h2 {
  color: #676767;
  font-weight: lighter;
  margin: 2rem 0;
}
.about-item-flex p {
  color: #676767;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.about-item-flex object {
  width: 70%;
  height: 70%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .about-item-flex object {
    width: 30%;
    height: 30%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about-item-flex object {
    width: 30%;
    height: 30%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .about-item-flex object {
    width: 30%;
    height: 30%;
  }
}

.about-us-more {
  width: 100%;
  height: auto;
  background-color: white;
}

.section-title {
  height: auto;
  margin: 10% 0;
}
.section-title h1 {
  text-align: center;
  background-image: url("../images/aboutTitle.png");
  height: 7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  margin: 4rem;
  font-size: 2.6rem;
  font-family: existencelight, sans-serif;
  color: #676767;
  padding: 2rem;
}
.section-title h1 span {
  color: #9f449b;
}

.about-more-flex {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .about-more-flex {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
.about-more-flex img {
  width: 60%;
  height: 60%;
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about-more-flex img {
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .about-more-flex img {
    width: 40%;
    height: 40%;
  }
}
.about-more-flex .about-more-text {
  padding: 0 1rem;
  font-family: latoregular, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about-more-flex .about-more-text {
    width: 60%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .about-more-flex .about-more-text {
    width: 60%;
  }
}
.about-more-flex .about-more-text p {
  font-size: 1rem;
  color: #676767;
  line-height: 1.8rem;
}

.click-button {
  width: 13rem;
  border: none;
  background-color: #9f449b;
  font-size: 1.2rem;
  font-family: latoregular, sans-serif;
  height: 4rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1.1rem;
  box-sizing: border-box;
  box-shadow: inset 0px -15px 0px -5px #6b2e68;
  color: white;
}
.click-button:link {
  text-decoration: none;
  color: white;
}
.click-button:visited {
  text-decoration: none;
  color: white;
}

/*About divider*/
.about-divider {
  width: 100%;
  height: 30rem;
  background-color: blue;
}
.about-divider object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7rem;
  padding-bottom: 3rem;
}
.about-divider p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

/*Team*/
.team {
  width: 100%;
  height: auto;
  background-color: white;
}

.our-team {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.team-arrows {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.team-arrows img {
  padding: 0.25rem;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 6rem;
  width: 3rem;
  height: 3rem;
}

ul.team-slider li {
  display: inline-block;
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  margin: 1.4%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  ul.team-slider li {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  ul.team-slider li {
    width: 100%;
    display: block;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  ul.team-slider li {
    width: 100%;
    display: block;
  }
}
ul.team-slider h2 {
  text-transform: uppercase;
  padding-top: 3rem;
  color: #676767;
  font-size: 1.3rem;
}
ul.team-slider h3 {
  padding: 2rem;
  color: #ccd0d2;
  font-size: 1rem;
}
ul.team-slider img.person-photo {
  width: 70%;
  height: 70%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  ul.team-slider img.person-photo {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  ul.team-slider img.person-photo {
    width: 30%;
    height: 30%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  ul.team-slider img.person-photo {
    width: 30%;
    height: 30%;
  }
}

ul.social-icons {
  margin: 0 10%;
}
ul.social-icons li {
  display: inline-block;
}

.skills-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 6rem;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .skills-flex {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.skills-column {
  width: 20rem;
}
.skills-column:first-child {
  margin-right: 10%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .skills-column:first-child {
    margin-right: 0;
  }
}
.skills-column:last-child {
  margin-left: 10%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .skills-column:last-child {
    margin-left: 0;
  }
}

.bar {
  height: auto;
  width: 20rem;
}
.bar h2 {
  text-transform: uppercase;
  padding: 2rem 0;
  color: black;
  font-size: 1.3rem;
  float: left;
}
.bar p {
  font-size: 1.3rem;
  color: #676767;
  float: right;
  padding: 2rem 0;
}

.web-design .outer {
  height: 1.5rem;
  width: 20rem;
  background-color: #ccd0d2;
}
.web-design .inner {
  height: 1.5rem;
  width: 90%;
  background-color: #9f449b;
}

.html-css .outer {
  height: 1.5rem;
  width: 20rem;
  background-color: #ccd0d2;
}
.html-css .inner {
  height: 1.5rem;
  width: 75%;
  background-color: #9f449b;
}

.graphic-design .outer {
  height: 1.5rem;
  width: 20rem;
  background-color: #ccd0d2;
}
.graphic-design .inner {
  height: 1.5rem;
  width: 70%;
  background-color: #9f449b;
}

.ui-ux .outer {
  height: 1.5rem;
  width: 20rem;
  background-color: #ccd0d2;
}
.ui-ux .inner {
  height: 1.5rem;
  width: 85%;
  background-color: #9f449b;
}

/*Services*/
.services {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
}

.services-data-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.data-column {
  width: 25%;
  display: block;
  padding-top: 6rem;
  text-align: center;
}
.data-column h2 {
  color: black;
  font-size: 3rem;
  font-weight: lighter;
}
.data-column p {
  font-size: 1rem;
  color: #676767;
  padding-top: 1rem;
}

.services-slider-box {
  margin-top: 4rem;
}
.services-slider-box object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services-slider li {
  text-align: center;
}
.services-slider li img.client-photo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  width: 20%;
  height: 20%;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .services-slider li img.client-photo {
    width: 30%;
    height: 30%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .services-slider li img.client-photo {
    width: 30%;
    height: 30%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .services-slider li img.client-photo {
    width: 30%;
    height: 30%;
  }
}
.services-slider li p:first-of-type {
  color: #676767;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}
.services-slider li p:last-of-type {
  color: #676767;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
}

/*Portfolio*/
.portfolio-nav {
  margin-bottom: 4rem;
  text-align: center;
}
.portfolio-nav li {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid black;
  height: 2rem;
  width: 4rem;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 0;
  box-sizing: border-box;
  text-align: center;
}
.portfolio-nav li:hover {
  background-color: #9f449b;
  border: 1px solid #9f449b;
  color: white;
}

.portfolio-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.portfolio-item {
  width: 33%;
  height: auto;
  text-align: center;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .portfolio-item {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .portfolio-item {
    width: 50%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .portfolio-item {
    width: 50%;
  }
}
.portfolio-item h2 {
  color: black;
  font-size: 1rem;
  margin-top: 1rem;
}
.portfolio-item p {
  color: #ccd0d2;
  font-size: 0.75rem;
  margin: 1rem;
}

.image-item {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .image-item {
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .image-item {
    width: 16rem;
    height: 16rem;
  }
}

/*Contact*/
.contact-flex {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .contact-flex {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .contact-flex {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
.contact-flex p {
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1.4rem;
}
.contact-flex p:nth-child(n+2) {
  font-weight: bold;
}

.contact-icons li {
  display: inline-block;
}
.contact-icons li img {
  height: 3rem;
  width: auto;
  margin-left: 1rem;
}

.contact-column {
  width: 50%;
  display: block;
  text-align: start;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .contact-column {
    width: 80%;
  }
}
@media screen and (min-width: 767px) and (max-width: 980px) and (orientation: portrait) {
  .contact-column {
    width: 80%;
  }
}
.contact-column form input:nth-child(-n+2) {
  height: 3rem;
  width: 95%;
  color: black;
  font-size: 1rem;
  font-family: latoregular, sans-serif;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}
.contact-column form textarea {
  height: 9rem;
  width: 95%;
  color: black;
  font-size: 1rem;
  font-family: latoregular, sans-serif;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

.footer {
  text-align: center;
}
.footer p {
  font-size: 4rem;
  margin: 6rem 0;
  color: #676767;
  font-family: existencelight, sans-serif;
}
.footer p span {
  color: #9f449b;
}

/*# sourceMappingURL=style.css.map */
